extends layout

block content
    header
        .menu
            a(href='/')
                img(src='img/sporttrack.png')
            a(href='/upload') AJOUTER UN FICHIER
            a.myaccount(href='/profilEdit') MON COMPTE

    body
        .activities
            h1 Mes activités
            
            - if (activities.length > 0)
                p= 'Vous avez ' + activities.length + ' activité' + (activities.length > 1 ? 's' : '') + ' :'
                table
                    thead
                        tr
                            th Date et heure de début
                            th Description
                            th Durée
                            th Distance
                            th Vitesse moyenne
                            th Dénivelé
                            th Fréquence cardiaque moyenne
                            th Fréquence cardiaque max
                            th Fréquence cardiaque min
                    tbody
                        each activity in activities
                            tr
                                td= activity.date
                                td= activity.description
                                td= activity.time
                                td= activity.distance + ' km'
                                td= activity.averageSpeed + ' km/h'
                                td= activity.totalAltitude + ' m'
                                td= activity.averageHeartRate + ' bpm'
                                td= activity.maxHeartRate + ' bpm'
                                td= activity.minHeartRate + ' bpm'
            - else
                p Pas d'activités pour le moment.
                a.accueil(href='/upload') Ajouter une activité

            a.accueil(href='/') Retourner à l'accueil
