extends layout

block content
    header
        .menu
            a(href='/')
                img(src='../img/sporttrack.png', alt='SportTrack Logo')
            if userId
                a(href='disconnect') SE DECONNECTER
                a(href='/profilEdit') MODIFIER MON COMPTE 
                a(href='/activities') MES ACTIVITÉS
    body
        .menu
            a(href='/')
                img(src='img/sporttrack.png')
            a(href='upload') AJOUTER UN FICHIER
            a(href='activities') MES ACTIVITÉS
        .information
            h1 Mes informations
            p= 'Nom : ' + userId.lastName
            p= 'Prénom : ' + userId.firstName
            p= 'Email : ' + userId.email
            p= 'Date de naissance : ' + userId.birthDate
            p= 'Taille : ' + userId.height + ' cm'
            p= 'Poids : ' + userId.weight + ' kg'
            - if (userId.gender == 'M')
                p= 'Sexe : Homme'
            - else if (userId.gender == 'F')
                p= 'Sexe : Femme'
            - else
                p= 'Sexe : Non renseigné'

            a(href='/profilEdit') Modifier mon profil

            a(href='/') Retourner à l'accueil
